    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,400&display=swap');
    // header part start 
    #header {
        background-color: var(--black);
        color: #fff;
        .icons {
            display: flex;
            flex-wrap: wrap;
            li {
                line-height: 28px;
                padding: 10px;
                a {
                    color: var(--white);
                    font-size: 14px;
                }
                a:hover {
                    color: var(--brand1);
                    transition: 0.3s;
                    padding: 5px;
                }
            }
        }
        .right {
            display: flex;
            flex-wrap: wrap;
            // align-items: flex-end;
            justify-content: flex-end;
            .phone {
                display: flex;
                flex-wrap: wrap;
                margin-right: 15px;
                li {
                    font-size: 13px;
                    padding: 17px 5px;
                    color: #fefefe;
                }
            }
            .weblink {
                display: flex;
                flex-wrap: wrap;
                li {
                    padding: 17px 5px;
                    font-size: 13px;
                    color: #fefefe;
                    a {
                        color: #fefefe;
                        margin-right: 20px;
                    }
                }
            }
        }
    }
    
    // header part end
    // nav part start 
    #nav {
        #nav_close {
            display: none;
        }
        #nav_trigger {
            display: none;
        }
        background-color: var(--white);
        .left {
            position: relative;
            h3 {
                line-height: 60px;
                font-size: 30px;
                color: #636666;
                font-family: 'Josefin Sans', sans-serif;
                text-transform: uppercase;
                font-weight: 500;
            }
        }
        // .nav_link_body {
        //     display: flex;
        //     flex-wrap: wrap;
        //     align-items: flex-end;
        //     justify-content: flex-end;
        .links {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            li {
                padding: 20px;
                a {
                    color: var(--black);
                    text-transform: capitalize;
                    font-family: 'Roboto';
                }
                a:hover {
                    text-align: center;
                    border: 1px solid var(--brand1);
                    padding: 6px 20px;
                    border-radius: 25px;
                    color: var(--brand2);
                }
            }
        }
    }
    
    // nav part End
    // banner part start
    #banner {
        background-color: var(--brand2);
        padding-top: 100px;
        padding-bottom: 50px;
        .content {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .headding {
                font-size: 44px;
                font-family: 'Roboto';
                text-align: center;
            }
            .para {
                font-size: 16px;
                line-height: 26px;
                color: #000000;
                font-weight: 300;
                font-family: "Roboto";
                text-align: center;
                padding-right: 20px;
            }
            .middle {
                // position: relative;
                .img_body {
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    padding-top: 20px;
                    padding-bottom: 40px;
                }
            }
            .email {
                border-radius: 25px;
                border: 1px solid var(--brand1);
                display: flex;
                flex-wrap: wrap;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                justify-content: space-between;
                width: 300px;
                // padding: 10px;
                box-sizing: border-box;
                .left {
                    width: 200px;
                    background-color: var(--white);
                    padding: 8px 12px;
                    border-top-left-radius: 25px;
                    border-bottom-left-radius: 25px;
                    box-sizing: border-box;
                }
                .right {
                    padding: 8px;
                    margin-right: 5px;
                    box-sizing: border-box;
                    // background-color: var(--brand1);
                    color: var(--white);
                    font-family: 'Roboto';
                    font-weight: 600;
                }
            }
            p {
                color: var(--white);
                font-family: sans-serif;
                padding: 10px;
            }
        }
    }
    
    // banner part end
    // community part start 
    #community {
        padding: 90px 0px;
        background-color: rgb(230, 227, 227);
        .headding {
            font-size: 48px;
            color: #000000;
            font-weight: 300;
            font-family: "Roboto";
            text-align: center;
        }
        .middle {
            display: flex;
            flex-wrap: wrap;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
            padding: 60px 0px;
            margin-top: 30px;
            .left_icon {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                i {
                    font-size: 60px;
                    line-height: 60px;
                    color: var(--brand1);
                }
            }
            .right_content {
                margin-left: 10px;
                h4 {
                    font-size: 26px;
                    line-height: 24px;
                    color: var(--brand1);
                    font-weight: 250;
                    font-family: "Roboto";
                    text-transform: uppercase;
                }
                ol {
                    li {
                        font-size: 16px;
                        // line-height: 28px;
                        color: #333333;
                        font-weight: 300;
                        font-family: "Roboto";
                        padding: 5px 0px;
                    }
                }
            }
        }
        .icons {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            li {
                margin: 30px 25px;
                i {
                    border: 1px solid var(--brand1);
                    padding: 15px;
                    text-align: center;
                    border-radius: 50%;
                    margin-left: 30px;
                    color: var(--brand1);
                }
                i:hover {
                    background-color: var(--brand1);
                    color: var(--white);
                    transition: 0.3s;
                }
                p {
                    font-size: 12px;
                    line-height: 24px;
                    color: #333333;
                    font-weight: 300;
                    font-family: "Roboto";
                    text-align: center;
                    padding: 5px;
                }
            }
        }
    }
    
    // community part End
    // Services part start 
    #services {
        padding: 80px 0px;
        .headding {
            font-size: 48px;
            line-height: 60px;
            color: #000000;
            font-weight: 300;
            font-family: "Roboto";
            text-align: center
        }
        .bottom {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding: 40px 0px;
            .left {
                background-color: var(--brand1);
                border-bottom-left-radius: 25px;
                border-top-left-radius: 25px;
                padding: 7px 15px;
                border: 1px solid rgb(190, 207, 207);
                span {
                    font-size: 12px;
                    letter-spacing: 1px;
                    line-height: 30px;
                    color: var(--white);
                    font-weight: 400;
                    font-family: "Roboto";
                    text-align: center;
                    padding-right: 10px;
                }
            }
            .left:hover {
                background-color: var(--white);
            }
            .left:hover span {
                color: #333333;
            }
            .right {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                border: 1px solid rgb(151, 161, 161);
                // align-items: center;
                box-sizing: border-box;
                border-end-end-radius: 25px;
                border-top-right-radius: 25px;
                padding: 2px 0px;
                p {
                    font-size: 10px;
                    letter-spacing: 1px;
                    line-height: 30px;
                    color: #ffffff;
                    font-weight: 400;
                    font-family: "Roboto";
                    text-align: center;
                    background-color: var(--brand2);
                    padding: 2px 7px;
                    border-radius: 50%;
                    margin: 3px 0px;
                    position: relative;
                    left: -15px;
                    z-index: 1;
                }
                span {
                    font-size: 12px;
                    letter-spacing: 1px;
                    line-height: 40px;
                    color: #333333;
                    font-weight: 400;
                    font-family: "Roboto";
                    text-align: center;
                    padding: 0px 10px;
                    box-sizing: border-box;
                }
            }
        }
        .card_content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .left,
            .middle,
            .right {
                margin: 15px;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 25px 0px;
                .headding {
                    text-transform: uppercase;
                    font-size: 14px;
                    letter-spacing: 1px;
                    line-height: 60px;
                    color: #333333;
                    font-weight: 500;
                    font-family: "Roboto";
                    text-align: center;
                }
                .circle {
                    border: 1px solid var(--brand1);
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
                    .dolar {
                        font-size: 22px;
                        font-weight: 700;
                    }
                    p {
                        font-size: 10px;
                        // line-height: 60px;
                        color: #333333;
                        font-weight: 500;
                        font-family: "Roboto";
                        text-align: center;
                    }
                    .para {
                        font-size: 12px;
                        font-family: 'Roboto';
                    }
                }
                ul {
                    margin-top: 20px;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    li {
                        display: flex;
                        flex-wrap: wrap;
                        font-size: 16px;
                        // letter-spacing: 1px;
                        // line-height: 30px;
                        text-align: center;
                        font-family: 'Roboto';
                        padding: 10px;
                        .tick {
                            color: var(--brand1);
                            font-size: 14px;
                            padding: 2px 10px;
                        }
                        .cros {
                            color: red;
                            font-size: 14px;
                            padding: 2px 10px;
                        }
                    }
                }
                button {
                    border-radius: 17px;
                    text-transform: uppercase;
                    background-color: #ffffff;
                    border: 1px solid #ececec;
                    font-family: 'Roboto';
                    padding: 10px 30px;
                    box-shadow: rgba(0, 0, 0, 0.5);
                }
                button:hover {
                    background-color: var(--brand1);
                    // background-color: var(--brand2);
                    transition: 0.3s;
                    padding: 12px 32px;
                    border: 1px solid rgb(33, 145, 76);
                }
            }
        }
    }
    
    // Services part End
    // Aupport part start 
    #support {
        background-color: #fff8f8;
        .top_headding {
            padding: 40px 0px;
            text-align: center;
            font-family: 'Roboto';
            font-size: 44px;
            font-weight: 300;
            color: #363535;
            line-height: 48px;
        }
        .card {
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
            margin: 15px;
            padding: 0px 5px;
            .top_icon {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                i {
                    font-size: 60px;
                    color: var(--brand1);
                    text-align: center;
                    padding: 30px 0px;
                }
            }
            .headding {
                font-size: 16px;
                line-height: 24px;
                color: #333333;
                font-weight: 400;
                font-family: "Roboto";
                text-align: center;
            }
            .para {
                font-size: 12px;
                line-height: 22px;
                color: #777777;
                font-weight: 300;
                font-family: "Roboto";
                text-align: center;
                padding: 20px 0px;
            }
        }
        .card:hover {
            background-color: var(--brand1);
            color: var(--white);
            transition: 0.3s;
            position: relative;
            top: -4px;
            right: -5px;
            i,
            .headding,
            .para {
                color: var(--white);
            }
        }
    }
    
    // Support part end
    // footer part start 
    #footer {
        background-color: rgba(0, 0, 0, 0.1);
        margin-top: 20px;
        padding: 10px 0px;
        .headding {
            padding: 20px 0px;
            font-size: 16px;
            text-transform: uppercase;
            font-family: 'Roboto';
            text-align: center;
        }
        .para {
            font-size: 12px;
            line-height: 24px;
            color: #333333;
            font-weight: 300;
            font-family: "Roboto";
            text-align: center;
        }
        .links {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: 'Roboto';
            text-transform: uppercase;
            font-size: 12px;
            color: #333333;
            li {
                line-height: 24px;
            }
            a {
                color: #333333;
                font-size: 12px;
                line-height: 24px;
            }
        }
    }
    
    // footer part end
    // second footer part start
    footer {
        background-color: #001014;
        .footer_content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 5px 0px;
            h3 {
                color: var(--white);
                font-family: sans-serif;
                text-transform: uppercase;
                font-size: 28px;
            }
            p {
                color: var(--white);
                font-family: 'Roboto';
                font-size: 14px;
                line-height: 28px;
            }
        }
    }
    
    // second footer part end